$btn--primary: $green-button, white, darken(#21b2a6, 10%);
$btn--secondary: $color-text, white, darken(#2e3842, 5%);

.btn {
  padding: 8px 24px;
  font-size: 1em;
  @include button($btn--primary...);
  &.secondary {
    @include button($btn--secondary...);
  }
}