/*
    Uniformisation des variables du projet dans un fichier au lieu d avoir des variables dans :root et en scss
*/

$green-button: #21b2a6;
$color-text: #3b4349;
$turquoise-bg: #21b2a6;
$dark-blue: #2e3842;
$light-blue: #c8ece9;
$light-grey: #d3d2cf;
$footer-bg: #1d242a
